@import "../styles/utils";
@import "../styles/fonts";
@import "../styles/colors";


.content{
  font-family: PT Sans, 'sans-serif';
  display:grid;
  gap:10px;
  color:$primary-text;
  .repos{
    display:grid;
    width:100%;
    gap:10px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

  }
}